body {
  font-family: Arial, sans-serif;
  text-align: center;
}
#image {
  max-width: 100%;
  height: auto;
  margin: auto;
}
img {
  display: block;
  width: 500px;
  height: 500px;
}
p,
h1,
h2,
h3,
h4,
h5,
ul {
  text-align: center;
  color: gray;
}
p {
  color: rgb(100, 100, 140);
  font-size: 20px;
  margin: 0 200px;
}
body {
  background: black;
}
strong {
  font-style: bold;
  color: gray;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 30px;
  font-family: Helvetica Neue, arial;
}
li {
  text-align: left;
  font-size: 20px;
  color: rgb(100, 100, 140);
}
ul {
  max-width: 550px;
  margin: auto;
  display: inline-block;
}
